calculs.log
calculs.aux
documents/calculs.synctex.gz
documents/calculs.toc
/python/.ipynb_checkpoints
documents/capa.toc
documents/capa.tex
documents/capa.synctex.gz
documents/capa.py
documents/capa.pdf
documents/capa.log
documents/capa.aux
